@font-face {
    font-family: "TT_lakes_bold";
    src: url(./fonts/TTLakes-Bold.woff) format("woff");
}

@font-face {
    font-family: "TT_lakes_medium";
    src: url(./fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
    font-family: "TT_lakes_regular";
    src: url(./fonts/TTLakes-Regular.woff) format("woff");
}

body {
    margin: 0;
    padding: 0;
}

                                                        /* css rules for <HEADER> */

.header {
    min-width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
}

.icon--hidden {
    display: none;
}

.icon-button {
    width: 40px;
    height: 40px;
}

.icon-button--mobile:first-child {
    margin-left: 16px;
    margin-right: 16.73px;
}

.logo--mobile {
    margin-right: 38.73px;
}

.icon-button--mobile:nth-child(6) {
    margin-left: auto;  
}

.icon-button--mobile:nth-child(7) {
    margin-left: 16px;    
    margin-right: 16px;
}

.icon--background {
    background: #ff3e79 no-repeat 50% 50%;
    border-radius: 20px;
}

.icon--background:first-child {
    background-image: url("./images/menu.svg");
}

.icon--background:nth-child(3) {
    background-image: url("./images/phone.svg");
}

.icon--background:nth-child(4) {
    background-image: url("./images/chat.svg");
}

.icon--background:nth-child(5) {
    background-image: url("./images/profile.svg");
}

.icon--background:nth-child(6) {
    background-image: url("./images/repair.svg");
}

.icon--background:nth-child(7) {
    background-image: url("./images/status_icon.svg");
}

.icon-button:nth-child(6)::before {
    content: "";
    border-radius: 1px;
    width: 2px;
    height: 34px;
    background: #eaeaea;
    position: absolute;
    top: 28px;
    left: 58vw;
}

.header::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 86px;
    background-color: #d9fff5;
}

                                                            /* css rules for <MAIN> */

.main {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

.main--mobile {
    min-height: 509px;
}

                                                        /* css rules for <MAIN> / <.title> */

.main__title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    position: absolute;
    left: 1px;
    top: 112px;
}

.main__title--mobile {
    margin: 24px 16px;
    height: 40px;
    width: 304px;
}

.main__title--font {
    font-family: "TT_lakes_bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #1b1c21;
}

                                                   /* css rules for <MAIN> / <.sliding-menu> */

.sliding-menu {
    min-height: 57px;
    display: flex;
    overflow-x: scroll;
}

.sliding-menu__text {
    font-family: "TT_lakes_medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7e7e82;
    margin: 0 24px;
}

.sliding-menu--mobile-placement {
    margin-left: 16px;
    margin-bottom: 24px;
}

.sliding-menu__button:nth-child(2)::after {
    content: "";
    width: 24px;
    height: 48px;
    background: linear-gradient(270deg, #f8f8f8 0.08%, #f8f8f8 100%);
    position: absolute;
    top: 168px;
    right: 0px;
    display: block;
    opacity: 0.8;
}

.sliding-menu__button {
    height: 40px;
}

.sliding-menu__button--appearance {
    border-style: none;
    background-color: inherit;
    text-wrap: nowrap;
    padding: 0 18px;
}

.sliding-menu__button--text {
    font-family: "TT_lakes_medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7e7e82;
}

.sliding-menu__button:focus {
    height: 40px;
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #fff;
}

                                                     /* css rules for <MAIN> / <.block> */

.block {
    display: flex;
    flex-direction: column;
}

.block--mobile {
    max-height: 322px;
}

.block__text--mobile {
    margin: 0 16px 16px;
}

.block__text--font {
    font-family: "TT_lakes_regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
}

.block__read-further {
    width: 132px;
    height: 24px;
    text-align: end;
}

.block__read-further--text {
    font-family: "TT_lakes_medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
}

.block__read-further--mobile {
    margin-left: 8px;
}

.block__read-further::before {
    content:url("./images/read-further.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
}

.block__image--mobile {
    width: 320px;
    height: 230.8px;
    margin-top: -14px;
    clip-path: rect(29.26px 320px 205.26px 0);
}



                                                                    /*TABLET LAYOUT*/



@media (min-width: 768px) {

                                                            /* css rules for <HEADER> */

    .icon--hidden {
        display: initial;
    }

    .icon-button--tablet:first-child {
        margin-left: 24px;
        margin-right: 42.73px;
    }

    .logo--tablet {
        margin-right: 250.73px; 
    }

    .logo::before {
        content: "";
        border-radius: 1px;
        width: 2px;
        height: 32px;
        background: #eaeaea;
        position: absolute;
        top: 26.94px;
        left: 80px;
    }

    .icon-button--tablet:nth-child(3) {
        margin-right: 16px;
    }

    .icon-button--tablet:nth-child(4) {
        margin-right: 16px;
    }

    .icon-button--tablet:nth-child(5) {
        margin-right: 42px;
    }
    
    .icon-button--tablet:nth-child(6)::before {
        left: 81.5vw;
    }

    .icon-button--tablet:nth-child(7) {
        margin-right: 24px;
    }

                                                /* css rules for <MAIN> */

    .main--tablet {
        min-height: 416px;
        max-width: 98%;
    }

    .main__title--tablet {
        margin: 24px 0 32px;
        width: 257px;
        text-align: end;
    }
                                                /* css rules for <MAIN> / <.sliding-menu> */

    .sliding-menu--tablet {
        margin: 0 0 32px 24px;
    }

    .title-container {
        width: 257px;
        height: 40px;
        margin: 24px 512px 103px 20px;
    }

    .title-container::before {
        top: 112px;
    }

    .title-container__title {
        margin-left: 0;
    }

    .sliding-menu__button:nth-child(2)::after {
        right: 17px;
    }

                                                /* css rules for <MAIN> / <.block> */

    .block__text--tablet {
        margin: 0 24px;
        width: 312px;
    }

    .block__full-text {
        display: block;
        margin-top: 32px;
        width: 312px;
    }

    .block__tablet-clip {
        display: none;
    }

    .block__read-further--tablet {
        margin-top: 10px;
    }

    .block__image--tablet {
        clip-path: rect(26px 360px 208px 0 round 3%);
        position: absolute;
        right: 2%;
        top: 248px;
        margin-top: unset;
        margin-right: 25px;
    }

}

                                                                    /*DESKTOP LAYOUT*/

                                                                    

@media (min-width: 1120px) {
    body {
        width: 1121px;
        height: 637px;
    }

    .main {
         min-width: 1120px;
         min-height: 535px;
         margin: 0 auto;
         background: #f8f8f8;
     }

     .header {
        width: 1121px;
        height: 93px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content:end;
        position: absolute;
    }

    .icon__repair::before {
        content: none;
    }

    .header div:nth-child(2), .header .icon:first-child {
        display: none;  
    }

    .header .icon:nth-child(6) {
        margin-right: 160px;
        margin-top: 42px;
        margin-bottom: 10px;
    }

    .header .icon:nth-child(6)::before {
        content: "Оставить заявку";
        font-family: "TT_lakes_medium", sans-serif;
        position: absolute;
        right: 280px;
        top: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-align: right;
        color: #1b1c21;
    }

    .header .icon:nth-child(7) {
        margin-right: 32px;
        margin-top: 42px;
        margin-bottom: 10px;
    }

    .header .icon:nth-child(7)::before {
        content: "Статус ремонта";
        font-family: "TT_lakes_medium", sans-serif;
        position: absolute;
        right: 81px;
        top: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-align: right;
        color: #1b1c21;
    }

    .title-container {
        width: 266px;
        height: 40px;
        margin-left: 15px;
        margin-top: 42px;
        margin-bottom: 8px;
        text-align: end;
    }

    .title-container__title {
        margin-left: 16px;
        font-family: "TT_lakes_bold", sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 143%;
        letter-spacing: -0.02em;
        color: #1b1c21;
        display: inline;
    }

    .title-container::before {
        content: "";
        width: 4px;
        height: 42px;
        position: absolute;
        left: 1px;
        top: 42px;
    }

    .sliding-menu {
        width: 1063px;
        min-height: 81px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        margin-bottom: 24px;
        flex-wrap: wrap;
        position: static;
    }

    .sliding-menu__text {
        top: 0;
    }

    /* .sliding-menu__button:nth-child(2)::after {
        content: none;
    }
    
    .sliding-menu__button:first-child {
        display: none;
    } */
/* 
    .sliding-menu__button:last-child {
        display: initial;
    } */

    .block {
        width: 490px;
        height: 160px;
    }

    .block__image {
        position: absolute;
        left: 560px;
        top: 140.62px;
        width: 531px;
        height: 383px;
    }

    .block__image--appearance {
        clip-path: rect(38.38px 531px 345.38px 0px round 2%);    
    }

    .block__text {
        margin-left: 34px;
        margin-right: -36px;
    }

    .block__full-text {
        display: block;
        white-space: pre-line;
        margin-top: 0;
    }

    .block__tablet-clip {
        display: inline;
    }

    .block__text--font {
        line-height: 143%;
    }

    .icon--hidden {
        display: none;
    }
}
