body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 320px;
    height: 1024px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
}

*, *::after, *::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "TT_lakes_bold";
    src: url(..//fonts/TTLakes-Bold.woff) format("woff");
}

@font-face {
    font-family: "TT_lakes_medium";
    src: url(..//fonts/TTLakes-Medium.woff) format("woff");
}


                                                            /* for TOP part*/

.top {
    display: flex;
    position: relative;
}

.icon-button {
    width: 40px;
    height: 40px;
    border: none;
}

.icon--background {
    background: #ff3e79 no-repeat 50% 50%;
    border-radius: 20px;
}

.icon-button--top:first-child {
    background-image: url("..//images/menu.svg");
    margin: 23px 16.73px 0 24px;
}

.icon-button--top:last-child {
    background-image: url("..//images/status_icon.svg");
    margin: 23px 24px 0 auto;
}

.icon-button--top:first-child:hover {
    background: none;
    transition: background 1s ease-out;
}

.icon-button--top:last-child:hover {
    background: none;
    transition: background 1s ease-out;
}
.icon-button__image {
    position: absolute;
}

.icon-button__image--first {
    top: 23px;
    left: 24px;
}

.icon-button__image--last {
    top: 23px;
    left: 256px;
}

.icon-button__image--hidden {
    opacity: 0;
}

.icon-button__image--hidden:hover {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.logo--side-menu {
    margin-top: 18.73px;
}



                                                    /* for CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 222px;
}

.container--side-menu {
    margin-top: 34.27px;
    margin-bottom: 252px;
}

.navlink {
    border: none;
    background: none;
    width: 100%;
    padding: 16px 0 16px 0;
    position: relative;
}

.navlink:focus {
    color: #7e7e82;
    outline: none;
}

.navlink:focus::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    display: inline-block;
    position: absolute;
    left: -24px;
    top: 11px;
    border-radius: 0 50% 50% 0;
}

.navlink--side-menu {
    margin-left: 24px;
}

.navlink--text {
    text-align: start;
    font-family: "TT_lakes_medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    text-wrap: nowrap;
}

                                                    /* for  CONTACT CONTAINER */

.contact-container {
    width: 196px;
    height: 124px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.contact-container--side-menu {
    margin-left: 24px;
}

.icon-button--contact:first-child {
    background-image: url("..//images/phone.svg");
    margin-right: 16px;
}

.icon-button--contact:nth-child(2) {
    background-image: url("..//images/chat.svg");
    margin-right: 16px;
}

.icon-button--contact:nth-child(3) {
    background-image: url("..//images/profile.svg");
}

.mail--text {
    font-family: "TT_lakes_medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    text-decoration: none;
}

.tel--text {
    font-family: "TT_lakes_bold", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: #1b1c21;
    text-decoration: none;
}

                                                    /* for LANGUAGE SELECTOR */

.language-selector {
    width: 87px;
    height: 24px;
    display: flex;
}

.language-selector--side-menu {
    margin-top: 40px;
    margin-left: 24px;
}

.language-selector__selector {
    border: none;
    background: none;
    margin-left: -4px;
}

.language-selector__selector:focus {
    color: #7e7e82;
    outline: none;
}

.language-selector__selector--font {
    font-family: "TT__lakes__medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
}
